body {
    background-color: black;
    color:#fff;
}

a:link {
    color:#fcba03;
}

a:visited {
    color:#fcba03;
}

.entrada  {
    display:block;
    margin-left: auto;
    margin-right: auto;
    }

.txtinicial{
    font-size: 20px;
    }

.gramofone {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.gonzaga {
    float: right;
    padding: 20px;
}

.chiquinha {
    float: left;
    border-style: dotted;
    border-color: #fcba03;
    font-size: 20px;
    margin-bottom: 20px;
    }

.menu {
  font-size:20px;
}

.jornais {
    font-size: 20px;
}

.daltro {
    float:left;
    padding:20px;
}

.Leolinda {
    float: right;
    border-style: dotted;
    border-color: #fcba03;
    font-size: 20px;
    margin-bottom: 20px;
}

.lutz {
    float:left;
    padding: 20px;
}

.bertha {
    float: right;
    border-style: dotted;
    border-color: #fcba03;
    font-size: 20px;
    margin-bottom: 20px;
}

.angelina {
    float:right;
    padding: 20px;
}

.soares {
    float: left;
    border-style: dotted;
    border-color: #fcba03;
    font-size: 20px;
    margin-bottom: 20px;
}

.diario {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    
}

.txtfinal{
    font-size: 20px;
    padding-bottom: 20px;
    }